[report]
fail_under=80
# Regexes for lines to exclude from consideration
exclude_lines =
  pragma: no cover
  raise NotImplementedError

omit =
  asteroid/data/*
  # Need ACCESS_TOKEN, not possible from fork.
  asteroid/models/publisher.py
  asteroid/models/zenodo.py

[run]
source=asteroid
