[flake8]
max-line-length = 119
exclude = docs/source,*.egg,build
select = E,W,F
verbose = 2
# https://pep8.readthedocs.io/en/latest/intro.html#error-codes
format = pylint
ignore =
    # E731 - Do not assign a lambda expression, use a def
    E731
    # W605 - invalid escape sequence '\_'. Needed for docs
    W605
    # W504 - line break after binary operator
    W504
    # W503 - line break before binary operator, need for black
    W503
    # E203 - whitespace before ':'. Opposite convention enforced by black
    E203
