# Requirements for using Asteroid. Using this file is equivalent to using
# requirements/install.txt. Note that we cannot make this file a symlink to
# requirements/install.txt because of how pip resolves relative paths with -r.

-r requirements/install.txt
