{%- set external_urls = {
  'github': 'https://github.com/mpariente/asteroid',
  'github_issues': 'https://github.com/mpariente/asteroid/issues',
  'contributing': 'https://github.com/mpariente/asteroid/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/mpariente/asteroid/blob/master/CONTRIBUTING.md',
  'docs': 'https://mpariente.github.io/asteroid/',
  'twitter': 'https://twitter.com/',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': '',
  'previous_pytorch_versions': 'https://pytorch-lightning.rtfd.io/en/latest/',
  'home': 'https://mpariente.github.io/asteroid/',
  'get_started': 'https://colab.research.google.com/github/mpariente/asteroid/blob/master/notebooks/00_GettingStarted.ipynb',
  'features': 'https://mpariente.github.io/asteroid/',
  'blog': 'https://mpariente.github.io/asteroid/',
  'resources': 'https://mpariente.github.io/asteroid/',
  'support': 'https://mpariente.github.io/asteroid/',
}
-%}
