sphinx-rtd-theme==0.4.3
sphinxcontrib-jsmath==1.0.1
sphinx>=1.8.3, <3.0
recommonmark  # fails with badges
nbsphinx
m2r2
asteroid_sphinx_theme
# pandoc
# docutils
# git+https://github.com/mpariente/asteroid_sphinx_theme
# sphinxcontrib-fulltoc
# sphinxcontrib-mockautodoc
# pip_shims
